<a href="https://colab.research.google.com/github/jolly-io/Python-Lessons/blob/main/Dictionary_Strings__Tuples_Jolly_Ogbole.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
The following programs is created by Jolly ogbole on October 8. 2022.

Each individual program implements specific task(s) as specified below.

'''

## **1) From the below list print only the word 'python' using indexing**

In [ ]:
list1 = [1,2,[3,4],[5,[100,200,['python']],23,11],1,7]

In [ ]:
# Solution here
list1[3][1][2][0]

'python'

## **2) Ask the user to input a list of integers seperated by a space and perform the below steps**

In [ ]:
# Step 0: Input integers from user into list called nums
nums = [int(num) for num in input().split()]

1 3 5 6 7 19 -17

In [ ]:
# Step 1: Find minimum and maximum values
print(f'Minimum: {min(nums)}')
print(f'Maximum: {max(nums)}')

Minimum: -17
Maximum: 19

In [ ]:
#Step 2. creating a custom function to return the mean
def mean(nums):
    total = 0
    for num in nums:
        total += num
    mean = total/len(nums)
    return mean

print(f'Mean: {mean(nums):.1f}')

Mean: 3.4

In [ ]:
# Step 3: First Sort list elements in ascending order then find and output median
# Do not use any packages of functions, create your own function to calc median of a list

L = nums
def median(L):
    L.sort()
    if len(L)%2 != 0:
        median = L[int(len(L)/2)]
    else:
        median = L[(int(len(L)/2))- 1] + L[int(len(L)/2)]
        median = median/2
    return median

print(f'Median: {median(L):.1f}')

Median: 5.0

### **3) Make a dictionary of frequency of the words from the below string, select words that have 4 or more letters in it .**
- Key of the dictionary should be word and value should be the number of times that word has appeared in the paragraph, sort the dictionary in descending order and print the results in a formatted table.

```Python
text = '''The goal is to turn data into information and information into insight .
You can have data without information but you cannot have information without data .'''

```

In [ ]:
text = '''The goal is to turn data into information and information into insight .
You can have data without information but you cannot have information without data .'''

# Transforming our string into a list
[word for word in text.split()]

# Using list comprehension for conditional of words equal to and greater than 4 characters
word1 = [word for word in text.split() if len(word) >= 4]
word1

#creating an empty dictionary
text_dict = {

}

# Traversing and checking for, then adding keys and values into the empty dictionary.
# Keys=Unique text, Values=Frequency of Unique text
for word in word1:
    text_dict.setdefault(word, word1.count(word))
text_dict

# Sorting the values in the dictionary in descending order
sorted_dict = sorted(text_dict.items(), key=lambda item: item[1], reverse=True)

# Formating the output
print(f'{"Word:":14} {"Frequency:":4}')
print('-' * 24)

for i in sorted_dict:
   print(f'{i[0]:16} {i[1]:4}')

Word:          Frequency:
------------------------
information         4
data                3
into                2
have                2
without             2
goal                1
turn                1
insight             1
cannot              1

In [ ]:
text = '''The goal is to turn data into information and information into insight .
You can have data without information but you cannot have information without data.'''
#note 'data' has frequency of 3 appearances

   Word:      Frequency:
------------------------
information      4
    data         2
    into         2
    have         2
  without        2
    goal         1
    turn         1
  insight        1
   cannot        1
   data.         1

### **4)** Write a program that let the user enter a course number, then it should display the courseâ€™s room number, instructor, and meeting time.
- Creates a dictionary **rooms** containing course numbers and the room numbers of the rooms where the courses meet. The dictionary should have the following key-value pairs:

<center>


|Course Number (key)	|Room Number (value)
| ----------- | ----------- |
|CS101	|3004|
|CS102	|4501|
|CS103	|6755|
|NT110	|1244|
|CM241	|1411|

</center>

- The program should also create a dictionary **instructors** containing course numbers and the names of the instructors that teach each course. The dictionary should have the following key-value pairs:

<center>

|Course Number (key)	|Instructor (value)
| ----------- | ----------- |
|CS101	|Haynes
|CS102	|Alvarado
|CS103	|Rich
|NT110	|Burke
|CM241	|Lee

</center>

- The program should also create a dictionary **times** containing course numbers and the meeting times of each course. The dictionary should have the following key-value pairs:

<center>

|Course Number (key)	|Meeting Time (value)
| ----------- | ----------- |
|CS101	|8:00 a.m.
|CS102	|9:00 a.m.
|CS103	|10:00 a.m.
|NT110	|11:00 a.m.
|CM241	|1:00 p.m.

</center>

In [ ]:
# create a compressed dictionary for all three values, since keys are similar. nesteded, efficient and streamlined approach


x = input("Enter a course number: ")

course_dict = {

    'CS101' :	[3004, 'Haynes',   '8:00 a.m.'],
    'CS102' :	[4501, 'Alvarado', '9:00 a.m.'],
    'CS103' :	[6755, 'Rich',     '10:00 a.m.'],
    'NT110' :	[1244, 'Burke',    '11:00 a.m.'],
    'CM241' :	[1411, 'Lee',      '1:00 p.m.']
}


print(f'The details for course {x} are: ')
print(f'Room: {course_dict.get(x)[0]}')
print(f'Instructor: {course_dict.get(x)[1]}')
print(f'Time: {course_dict.get(x)[2]}')

Enter a course number: CS101
The details for course CS101 are:
Room: 3004
Instructor: Haynes
Time: 8:00 a.m.

Enter a course number: CS101
The details for course CS101 are:
Room: 3004
Instructor: Haynes
Time: 8:00 am

### **5)** Use the below `product_inventory` string to create three lists for `product_lists`, `price_list`, and `count_list`. Each line of the string represent three fields separated by comma : *__quantity, product_name, price__*:

*Hint: Use for loop to traverse the lines and assign each seperated field to the proper list.*

In [ ]:
product_inventory = """
30, apple, 0.60
40, banana, 0.20
20, grapefruit, 0.75
100, grapes, 1.99
49, kiwi, 0.50
30, lemon, 0.20
30, lime, 0.25
50, mango, 1.50
40, papaya, 2.95
50, pineapple, 5.50
60, blueberries, 2.99
10, blackberries, 2.50
50, peach, 0.50
40, plum, 0.33
40, clementine, 0.25
20, cantaloupe, 3.25
40, pear, 1.25
50, quince, 0.45
40, orange, 0.60
"""

In [ ]:
# Intialize the three lists and use for loop to populate the lists
s = product_inventory.strip("\n").split("\n")
product_list = []
price_list = []
count_list = []

for row in s:
    s_row = row.replace(",", "").split(" ")
    product_list.append(s_row[1])
    price_list.append(s_row[2])
    count_list.append(s_row[0])


#product_list

#### a. Store the product names in a list `product_list`  then sort and display the list.

In [ ]:
# Solution here
product_list = sorted(product_list)
product_list

['apple',
 'banana',
 'blackberries',
 'blueberries',
 'cantaloupe',
 'clementine',
 'grapefruit',
 'grapes',
 'kiwi',
 'lemon',
 'lime',
 'mango',
 'orange',
 'papaya',
 'peach',
 'pear',
 'pineapple',
 'plum',
 'quince']

[' apple',
 ' banana',
 ' blackberries',
 ' blueberries',
 ' cantaloupe',
 ' clementine',
 ' grapefruit',
 ' grapes',
 ' kiwi',
 ' lemon',
 ' lime',
 ' mango',
 ' orange',
 ' papaya',
 ' peach',
 ' pear',
 ' pineapple',
 ' plum',
 ' quince']

#### b. Display the min, max and average of the cost for all the products.

In [ ]:
# Solution here for min
min(price_list)

print(f"Min price:  {float(min(price_list)):.1f}")

Min price:  0.2

In [ ]:
# Solution here for max
max(price_list)

print(f"Max price:  {float(max(price_list)):.1f}")

Max price:  5.5

In [ ]:
# Solution here for average

total = 0
for item in price_list:
    total += float(item)
    mean = total/len(price_list)


print(f'Average price: {mean:.1f}')

Average price: 1.4

#### c. Display the total count of the products quantities.

In [ ]:
# Solution here

total_count = 0
for count in count_list:
    total_count += int(count)

print(f'Total count of product is:  {total_count}')

Total count of product is:  789